@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --darkgrey: hsl(0, 0%, 12%);
    --offblack: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--offblack);
    color: white;
    font-family: "Inter", sans-serif;

}
.main_body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}
.card_body{
    background-color: var(--darkgrey);
    padding: 2.5rem 3.5rem;
    border-radius: 1.1rem;
}
.jessica{
    width: 40%;
    border-radius: 50%;
    margin-bottom: 2rem;
}
.text_section h1{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;

}
.text_section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0.3rem 2rem;
}
.london{
    margin-top: 0.5rem;
    font-size: 13px;
    color: var(--green);
    font-weight: 600;
    opacity: 0.8;
}
.front{
    margin-top: 2rem;
    font-size: 12px;
    opacity: 0.8;
}
.button_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button_class{
    width: 100%;
    padding: 0.8rem 0;
    margin-top: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: var(--grey);
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    opacity: 0.8;
}
.button_class:hover{
    background-color: var(--green);
    transition: 0.9s ease-in-out;
}
@media screen and (max-width: 455px){
    .card_body{
        margin: 2rem;
        padding: 2.5rem 1.5rem;
        margin-top: 50px;
    }
}
@media screen and (max-width: 376px){
    .card_body{
        margin: 2rem;
        padding: 2.5rem 0.5rem;
        margin-top: 50px;
        
    }
    .button_class{
        width: 90%;
    }
}
